div.background {
    @include positionAbsolute;
    right: 0;
    background-color: rgb(253, 198, 207);
    background-image: url('../../public/images/beautiful-bloom-blooming-10239531.jpg');
    @include backgroundCover;
    height: 100vh;
    z-index: -10;
}

section>a.go>i {
    font-size: 50px;
}

section>a.go {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: #ff6262;
    opacity: 1;
    transition: opacity 1s ease;
    transition-delay: 5s;
    opacity: .1;
    transition: opacity .5s ease;
    animation: upanddown .2s linear 10s 20 alternate;

    &:hover {
        transition: opacity .5s ease;
        opacity: 1;
    }
}



section>a.down {
    bottom: 2.5%;
}

@keyframes upanddown {
    0% {
        opacity: .1;
    }

    100% {
        opacity: 1;
        bottom: 1%;
    }
}

section>a.up {
    top: .5%;
}

section>a.downs {
    bottom: 1%;
}