div.background {
    @include positionAbsolute;
    right: 0;
    background-image: url('../../public/images/beautiful-bloom-blooming-10239531.jpg');
    @include backgroundCover;
    height: 100vh;
    z-index: -10;
}
