/* content section */

section#content {
    overflow: hidden;
    min-height: 100vh;
    max-height: 200vh;
    padding: 50px 1%;
    background-color: salmon;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

section#content .gif-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

section#content .gif-item {
    position: relative;
    background-position: center;
    min-width: 170px;
    max-width: 500px;
    min-height: 100px;
    max-height: 260px;
    width: 30%;
    height: calc(100vw/3);
    margin: 15px 0;
    border-radius: 5px;
}

section#content .gif-item .gif-content::before,
section#content .gif-item .gif-content::after {
    font-size: calc(100vh / 70);
    color: rgb(255, 232, 236);
    width: 100%;
    text-align: center;
    content: '';
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    border-radius: 5px;
    transition: bottom .5s ease, background-color .5s ease, opacity .5s ease;
}

section#content .gif-item:hover .gif-content::before {
    content: '';
    height: 100%;
    background-image: linear-gradient(rgba(70, 69, 69, 0.137) 20%, rgba(36, 36, 36, 0.726));
    opacity: 1;
}

section#content .gif-item:hover .gif-content::after {
    opacity: 1;
    bottom: 5%;
}

section#content div#gif-item-1 {
    background-image: url('../images/giphy.gif');
}

section#content div#gif-content-1::after {
    content: 'say something asdasd asdasd asf dfsdf sdf sdfsdf sdfd';
}

section#content div#gif-item-2 {
    background-image: url('../images/giphy.gif');
}

section#content div#gif-content-2::after {
    content: '2';
}

section#content div#gif-item-3 {
    background-image: url('../images/giphy.gif');
}

section#content div#gif-content-3::after {
    content: '3';
}

section#content div#gif-item-4 {
    background-image: url('../images/giphy.gif');
}

section#content div#gif-content-4::after {
    content: '4';
}

section#content div#gif-item-5 {
    background-image: url('../images/giphy.gif');
}

section#content div#gif-content-5::after {
    content: '5';
}

section#content div#gif-item-6 {
    background-image: url('../images/giphy.gif');
}

section#content div#gif-content-6::after {
    content: '6';
}

section#content div#gif-item-7 {
    background-image: url('../images/giphy.gif');
}

section#content div#gif-content-7::after {
    content: '7';
}

section#content div#gif-item-8 {
    background-image: url('../images/giphy.gif');
}

section#content div#gif-content-8::after {
    content: '8';
}

section#content div#gif-item-9 {
    background-image: url('../images/giphy.gif');
}

section#content div#gif-content-9::after {
    content: '9';
}