* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

body {
    /* color: white; */
    font-family: 'Rock Salt', cursive;
    font-size: calc(100vh / 130);
    font-weight: bolder;
}

section {
    position: relative;
    height: 100vh;
}

.background {
    background-image: url('../../public/images/1-15.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -10;
    transition: filter 1.5s cubic-bezier(1, .01, .76, .56);
}

.background-tranform {
    filter: blur(250px);
}

/* HOME section*/

/* ID */
#name {
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 50%;
    text-align: center;
    font-size: 5rem;
    z-index: 5;
    font-size: calc(100vw / 16);
    line-height: 90%;
    font-weight: normal;
}

#name span:nth-child(1) {
    color: rgb(10, 152, 218);
    vertical-align: text-top;
    font-size: calc(100vw /10);
    font-weight: bolder;
    margin-right: 2%;
}

#name span:nth-child(8) {
    color: rgb(128, 128, 211);
    vertical-align: bottom;
    font-size: calc(100vw /9);
    font-weight: bolder;
}

#name::after {
    content: '|';
    position: relative;
    left: .1em;
    animation: blink-animation .7s steps(5, start) infinite;
    -webkit-animation: blink-animation .7s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

#resume {
    bottom: 50%;
    margin-left: 2%;
    transform: translateY(50%);
}

#contact {
    left: 50%;
    transform: translateX(-50%);
}

#project {
    bottom: 50%;
    margin-right: 2%;
    transform: translateY(50%);
}

#social {
    left: 50%;
    transform: translateX(-50%);
}

#instagram {
    position: absolute;
    transform: translateX(-50%);
}

#facebook {
    position: absolute;
    transform: translateX(50%);
}

#github {
    width: 5em;
    position: absolute;
    text-align: center;
}

#youtube {
    width: 5em;
    position: absolute;
    text-align: center;
}

#connect {
    width: 5em;
    text-align: center;
}



/* Transformations */
.resume-preTransform {
    left: 50%;
    opacity: 0;
    transition: left 1.2s, opacity .2s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
    transition-delay: .6s;
}

.contact-preTransform {
    top: 50%;
    opacity: 0;
    transition: top 1.2s, opacity .5s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
    transition-delay: .6s;

}

.project-preTransform {
    right: 50%;
    opacity: 0;
    transition: right 1.2s, opacity .2s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
    transition-delay: .6s;
}

.social-preTransform {
    bottom: 50%;
    opacity: 0;
    transition: bottom 1.2s, opacity .5s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
    transition-delay: .6s;
}


.resume-transform {
    opacity: 1;
    left: 0;
    transition: left 1.2s, opacity 1.2s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
}

.contact-transform {
    top: calc(100vh / 4.8);
    opacity: 1;
    transition: top 1.2s, opacity 1.2s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
}

.project-transform {
    right: 0;
    opacity: 1;
    transition: right 1.2s, opacity 1.2s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
}

.social-transform {
    bottom: 15%;
    opacity: 1;
    transition: bottom 1.2s, opacity 1.2s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
}



/* socials Transformations */
.instagram-preTransform {
    left: 0;
    opacity: 0;
    transition: left 1.2s, opacity .5s;
}

.facebook-preTransform {
    right: 0;
    opacity: 0;
    transition: right 1.2s, opacity .5s;
}

.github-preTransform {
    top: 0%;
    opacity: 0;
    transition: top 1.2s, opacity .5s;
}

.connect-preTransform {
    opacity: 0;
    transition: opacity .5s;
}

.youtube-preTransform {
    top: 0%;
    opacity: 0;
    transition: top 1.2s, opacity .5s;
}

.instagram-transform {
    left: -130%;
    opacity: 1;
    transition: left 1.2s, opacity 1.2s;
    transition-delay: 1s;
}

.facebook-transform {
    right: -130%;
    opacity: 1;
    transition: right 1.2s, opacity 1.2s;
    transition-delay: 1s;
}

.github-transform {
    top: -300%;
    opacity: 1;
    transition: top 1.2s, opacity 1.2s;
    transition-delay: 1s;
}

.youtube-transform {
    top: 300%;
    opacity: 1;
    transition: top 1.2s, opacity 1.2s;
    transition-delay: 1s;
}

.connect-transform {
    opacity: 1;
    transition: opacity 1.2s;
}




/* regular classes */
.socialContainer {
    position: relative;
}

.nav {
    position: absolute;
    font-size: 2em;
}

.subNav {
    position: absolute;
}