@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: url("../../public/images/cursors/Sakura_Arrow.cur"), auto;
}

body {
  font-family: 'Rock Salt', cursive;
  font-size: calc(100vh / 130);
  font-weight: bolder;
  overflow: hidden;
  max-height: 100vh;
}

section {
  position: relative;
}

a {
  text-decoration: none;
  color: #fd3c4c;
}

div.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffdce3;
  background-image: url("../../public/images/beautiful-bloom-blooming-10239531.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  z-index: -10;
}

section > a.go > i {
  font-size: 50px;
}

section > a.go {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ff6262;
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  -webkit-transition-delay: 5s;
          transition-delay: 5s;
  opacity: .1;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  -webkit-animation: upanddown .2s linear 10s 20 alternate;
          animation: upanddown .2s linear 10s 20 alternate;
}

section > a.go:hover {
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  opacity: 1;
}

section > a.down {
  bottom: 2.5%;
}

@-webkit-keyframes upanddown {
  0% {
    opacity: .1;
  }
  100% {
    opacity: 1;
    bottom: 1%;
  }
}

@keyframes upanddown {
  0% {
    opacity: .1;
  }
  100% {
    opacity: 1;
    bottom: 1%;
  }
}

section > a.up {
  top: .5%;
}

section > a.downs {
  bottom: 1%;
}

#home {
  color: #fd3c4c;
  height: 100vh;
}

#home #contactSub {
  position: absolute;
  z-index: 10;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 500px;
  min-height: 200px;
  width: 50%;
  padding: 2%;
  border-radius: 10px;
  background-color: #fca5b3;
  border: 1px solid #fc4e6b;
}

#home #contactSub form div {
  margin: 2%;
}

#home #contactSub form select,
#home #contactSub form input[type=email],
#home #contactSub form textarea {
  width: 250px;
  padding: 1%;
  border: 1px solid #fc4e6b;
  border-radius: 4px;
  background-color: #fff8f9;
}

#home #contactSub form select:focus,
#home #contactSub form input[type=email]:focus,
#home #contactSub form textarea:focus {
  outline: none;
  -webkit-transition: -webkit-box-shadow .2s ease;
  transition: -webkit-box-shadow .2s ease;
  transition: box-shadow .2s ease;
  transition: box-shadow .2s ease, -webkit-box-shadow .2s ease;
  -webkit-box-shadow: 0px 0px 10px #ff2727;
          box-shadow: 0px 0px 10px #ff2727;
}

#home #contactSub form textarea {
  width: 100%;
  height: 200px;
  resize: none;
}

#home #contactSub form #submit {
  width: 20%;
}

#home #contactSub form #submit button {
  width: 100%;
  padding: 5%;
  border: 1px solid #fc4e6b;
  border-radius: 4px;
  -webkit-transition: color, background-color;
  transition: color, background-color;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  background-color: #fff0f2;
  color: #ff6262;
  font-weight: bold;
}

#home #contactSub form #submit:hover button {
  -webkit-transition: color, background-color;
  transition: color, background-color;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  color: #ffe8ec;
  background-color: #ff3b3b;
  cursor: url("../../public/images/cursors/Sakura_Link.cur"), auto;
}

#home #contactSub #closeContactSub {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  font-size: 12px;
  margin: 10px;
  text-align: center;
  color: #ff3c3c;
  background-color: #ffe8ec;
  border-radius: 4px;
  -webkit-transition: color, background-color;
  transition: color, background-color;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

#home #contactSub #closeContactSub:hover {
  background-color: #ff3c3c;
  color: #ffe8ec;
  -webkit-transition: color, background-color;
  transition: color, background-color;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  cursor: url("../../public/images/cursors/Sakura_Link.cur"), auto;
}

#home .nav,
#home .subNav {
  position: absolute;
}

#home .resume-preTransform {
  left: 50%;
  -webkit-transition: left 1.2s, opacity .2s;
  transition: left 1.2s, opacity .2s;
  opacity: 0;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

#home div.nav a:hover {
  text-decoration: underline;
  cursor: url("../../public/images/cursors/Sakura_Link.cur"), auto;
}

#home .contact-preTransform {
  top: 50%;
  -webkit-transition: top 1.2s, opacity .5s;
  transition: top 1.2s, opacity .5s;
  opacity: 0;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

#home .project-preTransform {
  right: 50%;
  -webkit-transition: right 1.2s, opacity .2s;
  transition: right 1.2s, opacity .2s;
  opacity: 0;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

#home .social-preTransform {
  top: 50%;
  -webkit-transition: top 1.2s, opacity .5s;
  transition: top 1.2s, opacity .5s;
  opacity: 0;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

#home .resume-transform {
  left: 0;
  -webkit-transition: left 1.2s, opacity 1.2s;
  transition: left 1.2s, opacity 1.2s;
  opacity: 1;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
}

#home .contact-transform {
  top: 11%;
  -webkit-transition: top 1.2s, opacity 1.2s;
  transition: top 1.2s, opacity 1.2s;
  opacity: 1;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
}

#home .project-transform {
  right: 0;
  -webkit-transition: right 1.2s, opacity 1.2s;
  transition: right 1.2s, opacity 1.2s;
  opacity: 1;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
}

#home .social-transform {
  top: 75%;
  -webkit-transition: top 1.2s, opacity 1.2s;
  transition: top 1.2s, opacity 1.2s;
  opacity: 1;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.05);
}

#home .instagram-preTransform {
  top: 300%;
  left: 0;
  opacity: 0;
  -webkit-transition: left 1.2s, opacity .5s;
  transition: left 1.2s, opacity .5s;
}

#home .facebook-preTransform {
  top: 300%;
  right: 0;
  opacity: 0;
  -webkit-transition: right 1.2s, opacity .5s;
  transition: right 1.2s, opacity .5s;
}

#home .youtube-preTransform {
  top: 0%;
  opacity: 0;
  -webkit-transition: top 1.2s, opacity .5s;
  transition: top 1.2s, opacity .5s;
}

#home .github-preTransform {
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

#home .instagram-transform {
  left: -130%;
  -webkit-transition: left 1.2s, opacity 1.2s;
  transition: left 1.2s, opacity 1.2s;
  top: 300%;
  opacity: 1;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

#home .facebook-transform {
  right: -130%;
  -webkit-transition: right 1.2s, opacity 1.2s;
  transition: right 1.2s, opacity 1.2s;
  top: 300%;
  opacity: 1;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

#home .youtube-transform {
  -webkit-transition: top 1.2s, opacity 1.2s;
  transition: top 1.2s, opacity 1.2s;
  top: 300%;
  opacity: 1;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

#home .github-transform {
  opacity: 1;
  -webkit-transition: opacity 1.2s;
  transition: opacity 1.2s;
}

#name {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
  z-index: 5;
  font-size: calc(100vw / 20);
  line-height: 100%;
  font-weight: normal;
}

#name span:nth-child(1) {
  position: relative;
  bottom: 1.4vw;
  color: #fd3c4c;
  opacity: .98;
  font-size: 10vw;
  font-weight: bolder;
}

#name span:nth-child(8) {
  color: #e7709a;
  opacity: .75;
  vertical-align: bottom;
  font-size: 12vw;
  font-weight: bolder;
}

#resume {
  top: 45%;
  margin-left: 2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2em;
}

#contact {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2em;
}

#project {
  top: 45%;
  margin-right: 2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2em;
}

#social {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2em;
}

#social .fa-github-square {
  position: absolute;
  opacity: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  font-size: 4.2em;
  right: 50%;
}

#social .fa-instagram,
#social .fa-youtube,
#social .fa-facebook-square {
  position: absolute;
  opacity: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  font-size: 4.2em;
  bottom: 100%;
  right: 50%;
}

#social div.socialContainer div:hover .fab,
#social div.socialContainer div:hover .fab::before {
  color: red;
  -webkit-transition: color .5s ease;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}

#social div.socialContainer div:hover i::after {
  position: absolute;
  top: 0;
  left: 0;
  font-size: calc(100% + 20px);
  z-index: -10;
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  border: 0px solid transparent;
  border-radius: 50%;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  color: #e69898;
}

#social div.socialContainer div:hover i.fa-instagram::after {
  content: "\f16d";
}

#social div.socialContainer div:hover i.fa-facebook-square::after {
  content: "\f082";
}

#social div.socialContainer div:hover i.fa-youtube::after {
  content: "\f167";
}

#social div.socialContainer div:hover i.fa-github-square::after {
  content: "\f092";
}

#social div.socialContainer div:hover .fab:hover,
#social div.socialContainer div:hover {
  color: #ff1616;
}

#social div.socialContainer div:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

#social .socialContainer {
  position: relative;
  color: #ff6262;
  opacity: .7;
}

#instagram {
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#facebook {
  position: absolute;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

#github {
  width: 5em;
  text-align: center;
}

#youtube {
  width: 5em;
  position: absolute;
  text-align: center;
}

#name span.change {
  color: #ccadb8;
  -webkit-animation: change-color 2s ease-out forwards;
          animation: change-color 2s ease-out forwards;
}

@keyframes change-color {
  70% {
    color: #180a0a;
  }
  100% {
    color: #ff6262;
    opacity: .7;
  }
}

@-webkit-keyframes change-color {
  70% {
    color: #4d2121;
  }
  100% {
    color: #ff6262;
    opacity: .7;
  }
}

#name::after {
  content: '|';
  color: #7a3a51c4;
  position: relative;
  left: .1em;
  -webkit-animation: blink-animation 0.7s steps(5, start) infinite;
          animation: blink-animation 0.7s steps(5, start) infinite;
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

div#github:hover .fa-github-square {
  -webkit-animation: showinGit .25s linear 1 alternate forwards;
          animation: showinGit .25s linear 1 alternate forwards;
}

@-webkit-keyframes showinGit {
  0% {
    opacity: 0;
    top: -200%;
  }
  25% {
    opacity: .15;
    top: -150%;
  }
  50% {
    opacity: .40;
    top: 0;
    right: 140%;
  }
  75% {
    opacity: .75;
    top: 90%;
  }
  100% {
    opacity: 1;
    top: 100%;
    right: 50%;
  }
}

@keyframes showinGit {
  0% {
    opacity: 0;
    top: -200%;
  }
  25% {
    opacity: .15;
    top: -150%;
  }
  50% {
    opacity: .40;
    top: 0;
    right: 140%;
  }
  75% {
    opacity: .75;
    top: 90%;
  }
  100% {
    opacity: 1;
    top: 100%;
    right: 50%;
  }
}

div#facebook:hover .fa-facebook-square {
  -webkit-animation: showinfb .25s linear 1 alternate forwards;
  animation: showinfb .25s linear 1 alternate forwards;
}

@-webkit-keyframes showinfb {
  0% {
    opacity: 0;
    bottom: -200%;
  }
  25% {
    opacity: .15;
    bottom: -150%;
  }
  50% {
    opacity: .40;
    bottom: 0;
    right: 140%;
  }
  75% {
    opacity: .75;
    bottom: 90%;
  }
  100% {
    opacity: 1;
    bottom: 100%;
    right: 50%;
  }
}

@keyframes showinfb {
  0% {
    opacity: 0;
    bottom: -200%;
  }
  25% {
    opacity: .15;
    bottom: -150%;
  }
  50% {
    opacity: .40;
    bottom: 0;
    right: 140%;
  }
  75% {
    opacity: .75;
    bottom: 90%;
  }
  100% {
    opacity: 1;
    bottom: 100%;
    right: 50%;
  }
}

div#youtube:hover .fa-youtube,
div#instagram:hover .fa-instagram {
  -webkit-animation: showinIgYt .25s linear 1 alternate forwards;
  animation: showinIgYt .25s linear 1 alternate forwards;
}

@-webkit-keyframes showinIgYt {
  0% {
    opacity: 0;
    bottom: -200%;
  }
  25% {
    opacity: .15;
    bottom: -150%;
  }
  50% {
    opacity: .40;
    bottom: 0;
    right: -40%;
  }
  75% {
    opacity: .75;
    bottom: 90%;
  }
  100% {
    opacity: 1;
    bottom: 100%;
    right: 50%;
  }
}

@keyframes showinIgYt {
  0% {
    opacity: 0;
    bottom: -200%;
  }
  25% {
    opacity: .15;
    bottom: -150%;
  }
  50% {
    opacity: .40;
    bottom: 0;
    right: -40%;
  }
  75% {
    opacity: .75;
    bottom: 90%;
  }
  100% {
    opacity: 1;
    bottom: 100%;
    right: 50%;
  }
}

@media screen and (max-width: 530px) {
  #home #contactSub {
    min-width: 100%;
    border-radius: 0px;
    background-color: #fca5b3;
    border: none;
    -webkit-box-shadow: 0px 0px 5px #ff2727;
            box-shadow: 0px 0px 5px #ff2727;
  }
  #home #contactSub form div,
  #home #contactSub form button {
    margin: 5%;
  }
  #home #contactSub form div:first-child {
    margin-top: 15%;
  }
  #home #contactSub form select,
  #home #contactSub form input[type=email] {
    width: 100%;
    padding: 2%;
  }
  #home #contactSub form #submit {
    margin: 5% auto;
    width: 30%;
  }
  #home #contactSub form button {
    padding: 5%;
    width: 100%;
  }
  #home #contactSub #closeContactSub {
    right: 0;
    margin: 10px;
    width: 25px;
    height: 25px;
    font-size: 10px;
  }
}

@media screen and (max-width: 760px) {
  section#content .gif-item {
    min-width: 90vw;
    min-height: 196px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 760px) {
  section#content .gif-item {
    min-width: 40vw;
    min-height: 224px;
  }
}

#content-container {
  padding: 50px 4%;
  background-color: #ffdce3;
  background-image: linear-gradient(-225deg, rgba(250, 204, 204, 0.788) 50%, #a85a5a 80%);
  height: 100vh;
  overflow-y: auto;
}

section#content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section#content .gif-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section#content .gif-item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  background-size: cover;
  background-position: center;
  max-width: 500px;
  max-height: 260px;
  width: 30%;
  height: calc(100vw/5);
  margin: 15px 0%;
  border-radius: 5px;
}

section#content .gif-content {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: calc(100vh / 70);
  color: #e9e3e4;
  text-align: center;
}

section#content .gif-item .gif-content::before,
section#content .gif-item .gif-content::after {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  border-radius: 5px;
  -webkit-transition: bottom .5s ease, background-color .5s ease, opacity .5s ease;
  transition: bottom .5s ease, background-color .5s ease, opacity .5s ease;
}

section#content .gif-item:hover .gif-content::before {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.226)), to(rgba(0, 0, 0, 0.877)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 0.877));
  opacity: 1;
}

section#content .gif-item:hover .gif-content::after {
  opacity: 1;
  bottom: 5%;
}

section#content .gif-item img {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

section#content div#gif-content-1::after {
  content: 'Water gun fight 🔫💦';
}

section#content div#gif-content-2::after {
  content: 'Warrior challenge 🌞';
}

section#content div#gif-content-3::after {
  content: 'Fair 🎡🎢';
}

section#content div#gif-content-4::after {
  content: 'Iowa ☃️';
}

section#content div#gif-content-5::after {
  content: 'E3 🎮';
}

section#content div#gif-content-6::after {
  content: 'PAX 🕹️👾';
}

section#content div#gif-content-7::after {
  content: 'Lake 🏐';
}

section#content div#gif-content-8::after {
  content: 'Museum 🎨';
}

section#content div#gif-content-9::after {
  content: 'New York 🗽';
}

#proj {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-size: 2.7em;
  font-family: 'Permanent Marker', cursive;
  text-align: left;
  padding: 5vh 10%;
  color: #3a0101;
  letter-spacing: .5px;
  background-color: #ffdce3;
  background-image: url("../../public/images/beautiful-bloom-blooming-10239532.jpg");
  background-size: cover;
  background-position: center;
  overflow: auto;
}

#proj #projectContainer {
  width: 100%;
}

#proj #projectContainer > div:nth-child(2) > table > thead > tr > th:nth-child(1) {
  width: 20%;
}

#proj #projectContainer > div:nth-child(2) > table > thead > tr > th:nth-child(2) {
  width: 65%;
}

#proj #projectContainer > div:nth-child(2) > table > thead > tr > th:nth-child(3) {
  width: 15%;
}

#proj #projectContainer tbody td.desc {
  font-family: 'Patrick Hand', cursive;
}

#proj #projectContainer table {
  width: 100%;
  border-collapse: collapse;
}

#proj #projectContainer > div:nth-child(2) > table > thead > tr > th {
  font-size: 1.2em;
  border-bottom: 3px solid #9c4646;
}

#proj #projectContainer > div:nth-child(2) > table > tbody > tr td {
  padding: .5% 3% .5% 0%;
}

#proj #projectContainer > div:nth-child(2) > table tr {
  border-bottom: 0.5px solid #9c4646;
}

#proj #projectContainer > div:nth-child(2) > table > tbody a {
  color: #fd4a4a;
  text-shadow: -0.5px 0.5px #520000;
  -webkit-transition: text-shadow .2s ease;
  transition: text-shadow .2s ease;
}

#proj #projectContainer > div:nth-child(2) > table > tbody a:hover {
  cursor: url("../../public/images/cursors/Sakura_Link.cur"), auto;
  -webkit-transition: text-shadow .2s ease;
  transition: text-shadow .2s ease;
  text-shadow: -2px 2px #520000;
}

#proj #plans {
  margin-top: 5%;
}

#proj #plans ul {
  font-family: 'Patrick Hand', cursive;
  font-size: 1.2em;
  margin-left: 3%;
}

@media screen and (max-width: 760px) {
  #proj #plans ul {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.2em;
    margin-left: 10%;
  }
}

#proj #plans .header {
  margin: 0;
}

#proj #connect {
  position: absolute;
  background-color: #720b0b;
  top: 90%;
  left: 0;
  width: 100%;
  height: 15%;
  text-align: center;
  color: #ffeaea;
  font-family: 'Patrick Hand', cursive;
  -webkit-box-shadow: 0px 0px 5px #520000;
          box-shadow: 0px 0px 5px #520000;
}

#proj #connect > div:nth-child(1) {
  height: 75%;
}

#proj #connect > div:nth-child(1) > div:nth-child(1) {
  padding: .5em;
  height: 25%;
}

#proj #connect > div:nth-child(1) > div:nth-child(2) {
  height: 75%;
  padding: .3em;
  font-size: 2em;
}

#proj #connect > div:nth-child(1) > div:nth-child(2) > a {
  color: #ffeaea;
  margin: 0 1%;
}

#proj #connect > div:nth-child(1) > div:nth-child(2) > a > i:hover {
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
  color: #ff98a9;
  cursor: url("../../public/images/cursors/Sakura_Link.cur"), auto;
}

#proj #connect > a:nth-child(2) > * {
  font-weight: bolder;
  color: #ff5b5b;
  margin: 0 1%;
  -webkit-transition: font-size .2s ease;
  transition: font-size .2s ease;
}

#proj #connect > a:nth-child(2):hover {
  font-size: 1.2em;
  -webkit-transition: font-size .2s ease;
  transition: font-size .2s ease;
}

#proj .header {
  display: inline-block;
  font-size: 2.8em;
  margin-bottom: 2%;
  font-weight: lighter;
}

@media screen and (max-width: 760px) {
  #proj {
    font-size: 2em;
    padding: 5vh 2%;
  }
}
/*# sourceMappingURL=styles.css.map */