* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    @include cursor(Arrow);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rock Salt', cursive;
    font-size: calc(100vh / 130);
    font-weight: bolder;
    overflow: hidden;
}

section {
    position: relative;
}

a {
    text-decoration: none;
    color: $global-color;
}